$primary-color: #022aaf;

div#filterableSelect.headerSearch {
    label.form-label {
        display: none;
    }

    .col-md-2, .col-md-10 {
        padding: 0;
    }
    input.form-control {
        padding: 5px 20px !important;
    }

    button.btn.btn-outline-secondary {
        background: $primary-color;
        border: 0;
        margin-left: -10px;
        z-index: 1;
    }

    svg {
        color: #ffffff;
    }
}

